@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,1000&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Source+Sans+Pro:ital,wght@0,600;0,700;0,900;1,600;1,700;1,900&display=swap');
:root{
  --purple: #8976F7;
  --purple2: #744BBE;
  --orange: #ea696e;
  --text: #233E57;
  --white: #fff;
  --pink: #E74457;
  --blue: #63C5EB;
  --test: #E94560;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
}

body{
  background: #212121;
}

a{
  text-decoration: none !important;
  color: #555;
  font-weight: 600;
}

::selection {
  color: #fff;
  background: var(--purple);
}

html{
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif !important;
}

.App{
    overflow-x: hidden;
    min-height: 100vh;
    background: #212121;
    width: 100%;
}

.button{
  width: auto;
  padding: 1.1rem 2.6rem;
  background-color: var(--purple);
  color: var(--white) !important;
  font-weight: 700 !important;
  border-radius: .8rem !important;
  border-top-left-radius: 0 !important;
  transition: all .4s;
  text-transform: uppercase;
  border: none;
}

.button2{
  width: auto;
  padding: .74rem 1.8rem;
  background-color: transparent;
  font-weight: 600 !important;
  border-radius: .8rem !important;
  border-top-left-radius: 0 !important;
  border: 1px solid lightgray !important;
  transition: all .4s;
  border: none;
}

.button:hover{
  background-color: var(--orange);
  color: var(--white);
}

.button2:hover{
  background-color: var(--orange);
  color: var(--white);
}