.project-grid{
    margin: 2rem auto;
}

.project-grid .image-container{
    max-width: 1100px;
    margin: auto;
    columns: 2 300px;
    gap: 15px;
}

.project-grid .image-container img {
    margin-bottom: 11px;
    border-radius: 5px;
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    cursor: pointer;
  }

  .no-project{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }

  .np-img{
    width: 16.5rem;
  }

  .np-img img{
    width: 100%;
  }

  .no-project h4{
    color: #f5f5f5;
    font-size: 1.11rem;
    margin-top: 10px;
  }

  .no-project span{
    display: inline-block;
    color: #eee;
    font-size: .91rem;
    margin-top: 0px;
  }

  @media screen and (max-width: 768px) {
    .project-grid .image-container{
        width: 100%;
        max-width: 100%;
        gap: 10px;
    }
    .project-grid{
        padding: 0 15px;
    }
  }